html{
    scroll-behavior: smooth;
}

body{
    margin: 0 !important;
    font-family: 'Poppins', sans-serif;
}

section{

    background-color: white;
}

.hero{
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px; 
}



footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}
.copyrigth{
    margin-top: 40px;
    text-align: right;
}

nav{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style-type: none;
    width: 650px;
    font-size: 28px;
    justify-content: space-around;
}

li{
    text-decoration: none;
}

h1{
    font-size: 75px;
    margin: 0;
}
.hero-para{
    font-size: 0.7em;
    background-image: linear-gradient(170deg,#1c1d25, white);
    background-size: 0% 2.9px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
}
.hero-para:hover{
    background-size: 100% 2.9px;
}

h2{
    font-size: 50px;
}

p{
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}
.information p{
    margin-top: 0;
    font-size: 20px;
    margin-right: 80px;
}

.subtext{
    font-size: 15px;
    font-weight: 300;
    padding-left: 20px;
    padding-right: 20px;

}

.hero-area{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.hero-text{
    margin-left: 80px;
    margin-bottom: 200px;
}

.button{
    width: 170px;
    height: 45px;
    border-radius: 35px;
    background-color: coral;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover{
    background-color: #ef744b;
}

.button:active{
    background-color: #A9A9A9;
    color: #808080;
}

.socials{
    padding-bottom: 200px;
}
.logo{
    height: 50px;
    margin: 30px;
}

.social{
    margin: 20px;
}

.sub-section{
    display: flex;
    justify-content: space-around;
    padding: 80px;
    margin-left: 200px;
    margin-right: 200px;
    box-shadow: 5px 5px 20px rgb(168, 168, 168);
    margin-top: 80px;
    margin-bottom: 15px;

}

.information h2{
    margin-top: 0;
}

.project-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}


.headshot{
    width: 200px;
    border-radius: 150px;
}

.headshot-container{
    display: flex;
    align-items: center;
}
.project-card{
    width: 250px;
    height: 460px;
    box-shadow: 5px 5px 20px rgb(168, 168, 168);
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 5px;

}
.project-card:hover{
    width: 254px;
    box-shadow: 5px 5px 20px rgb(43, 2, 2);
    margin: 10px;
}

.project-container{
    display: flex;
    justify-content: space-around;
}

/* @media only screen and (max-width: 970px){
    .project-container{
        display: flex;
        flex-wrap: wrap;
    }
    .sub-section{
        display: flex;
        flex-wrap: wrap-reverse;
        margin-top: 80px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    
    }
    footer{
        display: flex;
        flex-wrap: wrap;
    }

} */
@media only screen and (max-width: 600px){
    footer p{
        font-size: 15px;
        font-weight: 300;

    }
}

.project-img{
    margin-top: 25px;
    width: 220px;
    border: solid 1px black;
}

hr{
    margin-left: 20px;
    margin-right: 20px;

}
.project-link{
    text-decoration: none;
    color: #ef744b;
}

a{
    text-decoration: none;
    color: white;
}

.hamburger{
    display: none;
}

.hamburger:focus{
    outline: 0;
}

@media only screen and (max-width: 970px) {

    .project-container{
        display: flex;
        flex-wrap: wrap;
    }
    .sub-section{
        display: flex;
        flex-wrap: wrap-reverse;
        margin-top: 80px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    
    }
    footer{
        display: flex;
        flex-wrap: wrap;
    }
    
    .hamburger{
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul{
        display: none;
        background-color: #292b36;
        margin: 0px;
    }

    ul.show{
        display: block;
    }

    nav{
        display: flex;
        flex-direction: column-reverse;
        background-color: #292b36;
    }
    .logo{
        display: none;
    }
}
